# ======================================================
# Ignorer les dépendances installées via npm
# ======================================================
node_modules/

# ======================================================
# Fichiers d'environnement 
# ======================================================
.env

# ======================================================
# Dossiers de test temporaires ou non utilisés en production
# ======================================================
test/

# ======================================================
# Logs d'erreurs générés par npm 
# ======================================================
npm-debug.log*

# ======================================================
# Cache de npm
# ======================================================
.npm/

# ======================================================
# Fichiers système / éditeurs de code
# ======================================================
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/

# ======================================================
# Uploads (contenu dynamique uploadé par l'utilisateur)
# ======================================================
uploads/


# ======================================================
# Autres fichiers temporaires
# ======================================================
*.log
*.tmp
*.swp
*.swo
